.product-crud {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-crud h2 {
    text-align: center;
}

.product-crud form {
    margin-bottom: 20px;
}

.product-crud input,
.product-crud textarea,
.product-crud button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

.product-crud button {
    background-color: #060a06;
    color: #fff;
    border: none;
    cursor: pointer;
}

.product-crud ul {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-crud .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-crud li {
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 20px;
}

.product-crud .product-info {
    display: flex;
    align-items: center;
    gap: 20px;
}


.product-crud .product-image {
    flex: 1;
}

.product-crud img {
    max-width: 2em;
    height: auto;
}