.product-crud {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-product-button {
}

.product-crud h2 {
  text-align: center;
}

.product-crud form {
  margin-bottom: 20px;
}

.product-crud input,
.product-crud textarea,
.product-crud button {
  display: flex;
  align-self: center;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

.product-crud button {
  background-color: #060a06;
  color: #fff;
  border: none;
  cursor: pointer;
  max-width: 100px;
}

.button-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  max-width: 8em;
}

.product-list {
  padding: 2em;
  display: flex;
  flex-direction: column;
  width: 1fr;
}

.product-crud .product-list {
  gap: 20px;
  justify-content: center;
}

.product-crud li {
  display: flex;
  flex-grow: 4;
  border: 1px solid #ccc;
}

.product-info {
  display: flex;
  flex-direction: row;
  flex-grow: 5;
  gap: 80px;
  padding: 20px;
}

.product-name {
  max-width: 200px;
}

.shop-id {
  font-weight: bold;
}

.category-id {
  font-weight: bold;
}

.product-description {
  max-width: 200px;
}
.product-price {
  font-weight: bold;
}
.product-button {
  flex-shrink: o;
  min-width: 100px;
  border-radius: 7px;
}

.product-crud .product-image {
  flex: 1;
}

.product-img {
  padding: 10px;
  align-self: center;
  max-width: 8em;
  max-height: 12em;
  height: auto;
}
